/*nav {
    background-image: url(img/gateaux.jpeg); 
}*/
li  :hover{
    background-color: rgb(65, 67, 68);
}
ul  {
    font-family: comic sans ms;
    font-size: larger;
}
h2 {
    font-family:juana;
}
span {
font-family: comic sans ms;
}
a {
font-family: comic sans ms;
}





