

h1 { 
    color: palevioletred;

}
body {
    background-image: url(../img/fond.jpg);
}

li  :hover{
    background-color: rgb(65, 67, 68);
}
ul  {
    font-family: comic sans ms;
    font-size: larger;
}
h2 {
   font-family : 'Dancing Script', cursive ;

}
span {
    font-family: 'Dancing Script', cursive ;
}
a {
    
    font-family: comic sans ms;
}


.panier {
    width: 40px;
    height: 40px;
}
@font-face {
    font-family: "DancingScript-Bold.ttf";
    src: url('https://fonts.googleapis.com/css2? family= Dancing+Script & display=swap');
}
.col-4 {
    
    width:400px ;
    
}



